GesmedWA/GesmedWA/Connected Services/GesmedWS/AdministradorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.gesmed.pucp.edu.pe" targetNamespace="https://services.gesmed.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarAdministradorXNombre" type="tns:ListarAdministradorXNombre" />
  <xs:element name="ListarAdministradorXNombreResponse" type="tns:ListarAdministradorXNombreResponse" />
  <xs:element name="listarAdministradores" type="tns:listarAdministradores" />
  <xs:element name="listarAdministradoresResponse" type="tns:listarAdministradoresResponse" />
  <xs:complexType name="listarAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:trabajador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="clientes" nillable="true" type="tns:cliente" />
          <xs:element name="idAdministrador" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="representantes" nillable="true" type="tns:representanteMedico" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="supervisores" nillable="true" type="tns:supervisor" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="visitas" nillable="true" type="tns:visita" />
          <xs:element minOccurs="0" name="zona" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="trabajador" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="fidPersona" type="xs:int" />
          <xs:element minOccurs="0" name="idTrabajador" type="tns:usuario" />
          <xs:element name="rol" type="xs:unsignedShort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="DNI" type="xs:int" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="idAdmin" type="xs:int" />
          <xs:element name="idCliente" type="xs:int" />
          <xs:element name="idSupervisor" type="xs:int" />
          <xs:element name="tipo" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ubicacion">
    <xs:sequence>
      <xs:element name="altitud" type="xs:double" />
      <xs:element name="idUbicacion" type="xs:int" />
      <xs:element name="latitud" type="xs:double" />
      <xs:element name="longitud" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="representanteMedico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:trabajador">
        <xs:sequence>
          <xs:element name="contadorVisitas" type="xs:int" />
          <xs:element name="fidSupervisor" type="xs:int" />
          <xs:element name="idRepresentanteMedico" type="xs:int" />
          <xs:element name="KPI" type="xs:double" />
          <xs:element minOccurs="0" name="subZona" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="visitas" nillable="true" type="tns:visita" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="visita">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="detallesVisita" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoVisita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" type="xs:dateTime" />
      <xs:element name="idVisita" type="xs:int" />
      <xs:element minOccurs="0" name="representante" type="tns:representanteMedico" />
      <xs:element minOccurs="0" name="tipoVisita" type="tns:tipoVisita" />
      <xs:element minOccurs="0" name="ubicacionFinal" type="tns:ubicacion" />
      <xs:element minOccurs="0" name="ubicacionInicial" type="tns:ubicacion" />
      <xs:element name="visitado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:trabajador">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="clientes" nillable="true" type="tns:cliente" />
          <xs:element minOccurs="0" name="distrito" type="xs:string" />
          <xs:element name="fidAdministrador" type="xs:int" />
          <xs:element name="idSupervisor" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="represesentantes" nillable="true" type="tns:representanteMedico" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="visitas" nillable="true" type="tns:visita" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ListarAdministradorXNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarAdministradorXNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoVisita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="EN_PROGRESO" />
      <xs:enumeration value="PROGRAMADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoVisita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GEORREFERENCIA" />
      <xs:enumeration value="GEOLOCALIZACION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>