GesmedWA/GesmedWA/Connected Services/GesmedWS/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.gesmed.pucp.edu.pe" targetNamespace="https://services.gesmed.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarClientexSupervisorxNombre" type="tns:ListarClientexSupervisorxNombre" />
  <xs:element name="ListarClientexSupervisorxNombreResponse" type="tns:ListarClientexSupervisorxNombreResponse" />
  <xs:complexType name="ListarClientexSupervisorxNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarClientexSupervisorxNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="idAdmin" type="xs:int" />
          <xs:element name="idCliente" type="xs:int" />
          <xs:element name="idSupervisor" type="xs:int" />
          <xs:element name="tipo" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="DNI" type="xs:int" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ubicacion">
    <xs:sequence>
      <xs:element name="altitud" type="xs:double" />
      <xs:element name="idUbicacion" type="xs:int" />
      <xs:element name="latitud" type="xs:double" />
      <xs:element name="longitud" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>