GesmedWA/GesmedWA/Connected Services/GesmedWS/RepresentanteMedicoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.gesmed.pucp.edu.pe" targetNamespace="https://services.gesmed.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListarRepresentanteMedicoPorNombreOApellido" type="tns:ListarRepresentanteMedicoPorNombreOApellido" />
  <xs:element name="ListarRepresentanteMedicoPorNombreOApellidoResponse" type="tns:ListarRepresentanteMedicoPorNombreOApellidoResponse" />
  <xs:element name="ListarRepresentanteMedicoXNombreXSupervisor" type="tns:ListarRepresentanteMedicoXNombreXSupervisor" />
  <xs:element name="ListarRepresentanteMedicoXNombreXSupervisorResponse" type="tns:ListarRepresentanteMedicoXNombreXSupervisorResponse" />
  <xs:element name="ListarRepresentantesMedico_Supervisor" type="tns:ListarRepresentantesMedico_Supervisor" />
  <xs:element name="ListarRepresentantesMedico_SupervisorResponse" type="tns:ListarRepresentantesMedico_SupervisorResponse" />
  <xs:element name="ObtenerKPIRepresentante" type="tns:ObtenerKPIRepresentante" />
  <xs:element name="ObtenerKPIRepresentanteResponse" type="tns:ObtenerKPIRepresentanteResponse" />
  <xs:element name="ObtenerRepresentanteMedicoXID" type="tns:ObtenerRepresentanteMedicoXID" />
  <xs:element name="ObtenerRepresentanteMedicoXIDResponse" type="tns:ObtenerRepresentanteMedicoXIDResponse" />
  <xs:element name="actualizarRepresentante" type="tns:actualizarRepresentante" />
  <xs:element name="actualizarRepresentanteResponse" type="tns:actualizarRepresentanteResponse" />
  <xs:element name="eliminarRepresentante" type="tns:eliminarRepresentante" />
  <xs:element name="eliminarRepresentanteResponse" type="tns:eliminarRepresentanteResponse" />
  <xs:element name="insertarRepresentante" type="tns:insertarRepresentante" />
  <xs:element name="insertarRepresentanteResponse" type="tns:insertarRepresentanteResponse" />
  <xs:element name="listarRepresentantes" type="tns:listarRepresentantes" />
  <xs:element name="listarRepresentantesResponse" type="tns:listarRepresentantesResponse" />
  <xs:complexType name="insertarRepresentante">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="representanteMedico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:trabajador">
        <xs:sequence>
          <xs:element name="contadorVisitas" type="xs:int" />
          <xs:element name="fidSupervisor" type="xs:int" />
          <xs:element name="idRepresentanteMedico" type="xs:int" />
          <xs:element name="KPI" type="xs:double" />
          <xs:element minOccurs="0" name="subZona" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="visitas" nillable="true" type="tns:visita" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="trabajador" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="fidPersona" type="xs:int" />
          <xs:element minOccurs="0" name="idTrabajador" type="tns:usuario" />
          <xs:element name="rol" type="xs:unsignedShort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="DNI" type="xs:int" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="visita">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="detallesVisita" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoVisita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" type="xs:dateTime" />
      <xs:element name="idVisita" type="xs:int" />
      <xs:element minOccurs="0" name="representante" type="tns:representanteMedico" />
      <xs:element minOccurs="0" name="tipoVisita" type="tns:tipoVisita" />
      <xs:element minOccurs="0" name="ubicacionFinal" type="tns:ubicacion" />
      <xs:element minOccurs="0" name="ubicacionInicial" type="tns:ubicacion" />
      <xs:element name="visitado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="idAdmin" type="xs:int" />
          <xs:element name="idCliente" type="xs:int" />
          <xs:element name="idSupervisor" type="xs:int" />
          <xs:element name="tipo" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="ubicacion" type="tns:ubicacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ubicacion">
    <xs:sequence>
      <xs:element name="altitud" type="xs:double" />
      <xs:element name="idUbicacion" type="xs:int" />
      <xs:element name="latitud" type="xs:double" />
      <xs:element name="longitud" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRepresentanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRepresentante">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarRepresentanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerKPIRepresentante">
    <xs:sequence>
      <xs:element name="name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerKPIRepresentanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentanteMedicoXNombreXSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentanteMedicoXNombreXSupervisorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentanteMedicoPorNombreOApellido">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentanteMedicoPorNombreOApellidoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentantesMedico_Supervisor">
    <xs:sequence>
      <xs:element name="name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarRepresentantesMedico_SupervisorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerRepresentanteMedicoXID">
    <xs:sequence>
      <xs:element name="name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerRepresentanteMedicoXIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRepresentantes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRepresentantesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:representanteMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRepresentante">
    <xs:sequence>
      <xs:element name="name" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRepresentanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoVisita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="EN_PROGRESO" />
      <xs:enumeration value="PROGRAMADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoVisita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GEORREFERENCIA" />
      <xs:enumeration value="GEOLOCALIZACION" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>